<h1>Shopping Cart</h1>
<div *ngIf="cart$" class="row col-10">
  <p>You have {{ cart$.totalItemsCount }} items in your shopping cart.</p>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th style="width: 230px" class="text-center">Quantity</th>
        <th style="width: 200px" class="text-right">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart$.items">
        <td>
          <div
            [style.backgroundImage]="item.imageUrl"
            class="thumbnail"
            alt=""
          ></div>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>
          <product-quantity
            [product]="item"
            [shopping-cart]="cart$"
            (reloadCart)="reloadCart()"
          ></product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency: "USD":true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="4">{{ cart$.totalPrice | currency: "USD":true }}</th>
      </tr>
    </tfoot>
  </table>
  <button (click)="clearCart()" class="btn btn-danger btn-sm">
    Clear Cart
  </button>
</div>
